<nav class=" navbar navbar-expand-lg navbar-light">
    <div class="container">
      <div class="navbar-brand" >{{'layout.subject'|translate}}</div>
  
      <div class="collapse  navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/tasks" routerLinkActive="active">{{'layout.all-Tasks'|translate}}  <span class="sr-only">({{'layout.current'|translate}})</span></a>
          </li>
        </ul>
       <div class="nav-item  d-flex">
        <a class="nav-link" routerLink="/auth/login" (click)="logout()">{{'layout.logout'|translate}}</a>
        <a class="nav-link" (click)="changeLanguage()">{{lang=='en'?'عربي':'English'}}</a>
       </div>
      </div>
    </div>
  
  </nav>
  
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  